<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix-Homepage</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="../CSS/Menubar.css"/>
    <link rel="stylesheet" href="../CSS/Homepage.css"/>
    <link rel="stylesheet" href="../CSS/Global.css"/>
</head>
<body>
<!--navbar-->
<ul class="topnav">
    <li id="logo"><img src="../Resources/logo1.jpg"></li>
    <li id="browse">
        <a href="#" class="dropbtn">Browse</a>
        <div class="dropdown-content">
            <p>Pick Genre</p>
            <a href="#">Comedy</a>
            <a href="#">Action</a>
            <a href="#">Drama</a>
        </div>

    </li>
    <li id="sign" class="right">
        <button class="sign">Sign In</button>
    </li>
    <li id="notification" class="right">
        <a href="#" class="dropbtn"><i class="material-icons">notifications</i></a>
        <div class="dropdown-content">
            <a href="#">No notifications</a>
        </div>

    </li>

</ul>
<!--body-->

<div class="jumbotron">
    <div id="jumbotron-contents" class="container">
        <h2>See whats new!!!</h2>
        <p><a id="latestLink">Narcos Season 2 Available Now</a></p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button">Sign Up Now!</a></p>
    </div>
</div>
<div id="jumbotron-contents-micro" class="container-fluid">
    <h2>See whats new!!!</h2>
    <p><a id="latestLink">Narcos Season 2 Available Now</a></p>
    <p><a class="btn btn-danger btn-lg" href="#" role="button">Sign Up Now!</a></p>
</div>
</body>
</html>