/*
Global CSS
*/
body {
    margin: 0;
    background: black;
    font-family: Arial, SansSerif;
    color: white;
}

section{
    margin-top: 10px;
    margin-bottom: 10px;
}


.error p{
    color:red;
}
