/*
CSS for Pricing table
*/

/* Create three columns of equal width */
.columns {
    float: left;
    width: 25%;
    padding: 3px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add zoom on hover */
.price:hover {

    animation: zoomCol 0.5s;
}

@keyframes zoomCol {
    0% {
        transform: scale(0.95);
    }
}

/* Pricing header */
.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #adad85;
    font-size: 20px;
}

/* The "Sign Up" button */
/*.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
*/
/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}