<!DOCTYPE html>
<html lang="en" ng-app="movieflix">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../CSS/Global.css"/>
    <link rel="stylesheet" href="../CSS/Menubar.css"/>
    <link rel="stylesheet" href="../CSS/Homepage.css"/>
    <link rel="stylesheet" href="../CSS/Footer.css"/>
    <link rel="stylesheet" href="../CSS/PricingTable.css"/>
    <link rel="stylesheet" href="../CSS/UserRegistration.css"/>
    <link rel="stylesheet" href="../CSS/UserMovies.css"/>
    <link rel="stylesheet" href="../CSS/Admin-home.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../JavaScript/Menubar.js"></script>

</head>
<body ng-controller="loginController as lc">
<!--navbar-->
<header>
    <ul class="topnav">
        <li id="logo"><a href="#/"><img src="../Resources/logo1.jpg"></a></li>
        <li id="browse">
            <a href="#/" class="dropbtn">Browse</a>
            <div class="dropdown-content">
                <p>Pick Genre</p>
                <a href="#">Comedy</a>
                <a href="#">Action</a>
                <a href="#">Drama</a>
            </div>

        </li>
        <li id="sign" class="right">
            <button ng-show="lc.user==null" class="sign" id="signIn">Sign In</button>
            <div class="userdetails" ng-show="lc.user.active">
                <img style="border-radius: 50%" alt="img"><span>{{$rootScope.currentUser}}</span>
                <button ng-click="lc.logout()" class="sign" id="signOut">Sign Out</button>
            </div>
        </li>
        <li id="notification" class="right">
            <a href="#" class="dropbtn"><i class="material-icons">notifications</i><span class="badge">4</span></a>
            <div class="dropdown-content">
                <a href="#">No notifications</a>
            </div>

        </li>

    </ul>
</header>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form" name="loginForm" ng-submit="lc.login()" novalidate>
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                            <input type="text" ng-model="lc.username" class="form-control" name="Username" id="usrname"
                                   placeholder="Enter email" required>
                            <div class="error" ng-messages="loginForm.Username.$error" ng-if="loginForm.Username.$dirty">
                                <p ng-message="required">Email/Username Required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            <input type="text" ng-model="lc.password" class="form-control" name="Password" id="psw"
                                   placeholder="Enter password" required>
                            <div class="error" ng-messages="loginForm.Password.$error" ng-if="loginForm.Password.$dirty">
                                <p ng-message="required">Password Required</p>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label style="color:black"><input type="checkbox"  value="" checked>Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block"><span
                                class="glyphicon glyphicon-off" data-dismiss="modal"></span> Login
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <p style="color: black">Not a member? <a href="#/register" data-dismiss="modal">Sign Up</a></p>
                    <p style="color: black">Forgot <a href="#">Password?</a></p>
                </div>
            </div>

        </div>
    </div>
</div> <!-- end of modal container-->
<!--end of navbar-->
<!--body-->
<section ng-view>


</section>
<!--end of navtabs-->

<footer>
    <div class="wrap">
        <div class="row">
            <div class="col-md-12">
                <p> Questions? Call 0-000-000-0000</p>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td>FAQ</td>
                    <td>Help Center</td>
                    <td>Account</td>
                    <td>Media Center</td>
                </tr>
                <tr>
                    <td>Investor Relations</td>
                    <td>Jobs</td>
                    <td>Buy/Redeem Gift</td>
                    <td>Ways to Watch</td>
                </tr>
                <tr>
                    <td>Terms of Use</td>
                    <td>Privacy</td>
                    <td>Cookie Preferences</td>
                    <td>Speed Test</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</footer>

<script src="../AngularJS/angular.js"></script>
<script src="../AngularJS/angular-messages.js"></script>
<script src="../AngularJS/angular-route.js"></script>
<script src="../AngularJS/angular-cookies.js"></script>
<script src="../AngularJS/movieflix.module.js"></script>
<script src="../AngularJS/home.controller.js"></script>
<script src="../AngularJS/login.controller.js"></script>
<script src="../AngularJS/user_registration.controller.js"></script>
<script src="../AngularJS/user_home.controller.js"></script>
<script src="../AngularJS/admin_home.controller.js"></script>
<script src="../AngularJS/subscriptionPlan.service.js"></script>
<script src="../AngularJS/videos.service.js"></script>
<script src="../AngularJS/user.service.js"></script>
<script src="../AngularJS/authentication.factory.js"></script>

</body>

</html>