<!-- User Registration plan template -->

<div class="columns title">
    <ul class="price">
        <li class="header">Available Plans</li>
        <li class="header">Cost / month</li>
        <li>Screens</li>
        <li>HD Quality</li>
        <li>Ultra HD</li>
        <li>PC, Tablets and other devices</li>
        <li>Cancel Any Time</li>
        <li>First Month Free</li>

    </ul>
</div>
<div ng-repeat="plan in regCtrl.allPlans | orderBy:'screens'" class="columns">
    <ul class="price">
        <li class="header">{{plan.planName}}</li>
        <li class="grey">{{plan.cost}} / month</li>
        <li>{{plan.screens}}</li>
        <li>{{plan.hd}}</li>
        <li>{{plan.ultraHd}}</li>
        <li>{{plan.allDevices}}</li>
        <li>{{plan.cancelAnytime}}</li>
        <li>{{plan.firstMonthFree}}</li>
        <li>
            <input type="radio" name="userPlan" ng-model="regCtrl.selectedUserPlan" value={{plan}}
                   class="btn btn-md btn-danger" required/>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12 error" ng-messages="regForm.userPlan.$error" ng-if="regForm.userPlan.$dirty">
        <p ng-message="required">Plan required</p>
    </div>
</div>
