<div class="container-fluid" id="userMoviesContainer">
    <!--Watched-->
    <div class="row" id="watchedList">
        <ul ng-repeat="video in lc.user.watched">
            <li>
                <div>{{video.title}}</div>
            </li>
        </ul>

    </div>

    <!--Search bar-->
    <div class="row" id="searchContainer">
        <div class=" col-md-4 col-md-offset-4">
            <div class="input-group">
                <input type="text" ng-model="homeCtrl.searchFilter" class="form-control"
                       placeholder="Filter by Title, Genre, Actors...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
            </div>
        </div>
        <div col-md-offset-1 col-md-2><select class="form-control" ng-model="homeCtrl.sorter.by" placeholder="Sort By"
                                              autofocus>
            <option value="">Sort By</option>
            <option value="title">Title</option>
            <option value="released">Year</option>
            <option value="imdbRating">imdb Ratings</option>
            <option value="rating">Ratings</option>
        </select></div>
    </div>
    <div id="moviesContainer">
        <div class="row">
            <div class="col-md-4 tile"
                 ng-repeat="video in homeCtrl.allVideos | filter:homeCtrl.searchFilter | orderBy:homeCtrl.sorter.by: false">
                <div class="thumbnail">
                    <img ng-src="{{video.poster}}"
                         alt={{video.title}}>
                    <div class="caption">
                        <h4 class="title">{{video.title}}</h4>
                        <p><h4>Year: </h4> {{video.released | date:'yyyy'}} <h4 style="margin-left: 20px">IMDB
                        Ratings: </h4>
                        {{video.imdbRating}}</p>
                        <p><h4>Genre: </h4>{{video.genre}}</p>
                        <p>Ratings:</p>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <button class="btn  btn-sm btn-primary" ng-click="homeCtrl.addWatched(lc.user,video)">
                                    Watch <i class="material-icons">visibility</i>
                                </button>
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <button class="btn  btn-sm btn-danger">Liked <i class="material-icons">favorite</i>
                                </button>
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#movieModal"
                                        ng-click="homeCtrl.setCurrent(video)">Info<i class="material-icons">info</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal" id="movieModal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <img style="width:150px;height: 200px;float: left;" ng-src="{{homeCtrl.currentVideo.poster}}"/>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2>{{homeCtrl.currentVideo.title}}</h2>
                <h4>Genre: {{homeCtrl.currentVideo.genre}}</h4>
                <h4>Year: {{homeCtrl.currentVideo.year}} Rating: {{homeCtrl.currentVideo.rated}}</h4>
                <h4>Type: {{homeCtrl.currentVideo.type}} Runtime:{{homeCtrl.currentVideo.runtime}}</h4>
            </div>

            <div class="modal-body" style="padding:40px 50px;">
                <table class="table">
                    <tr>
                        <th>Plot</th>
                        <td>{{homeCtrl.currentVideo.plot}}</td>
                    </tr>
                    <tr>
                        <th>Actors</th>
                        <td>{{homeCtrl.currentVideo.actors}}</td>
                    </tr>
                    <tr>
                        <th>Director</th>
                        <td>{{homeCtrl.currentVideo.director}}</td>
                    </tr>
                    <tr>
                        <th>Actors</th>
                        <td>{{homeCtrl.currentVideo.writer}}</td>
                    </tr>
                    <tr>
                        <th>Awards</th>
                        <td>{{homeCtrl.currentVideo.awards}}</td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td>{{homeCtrl.currentVideo.language}}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{homeCtrl.currentVideo.country}}</td>
                    </tr>
                    <tr>
                        <th>IMDB ID</th>
                        <td><a href="http://www.imdb.com/title/{{homeCtrl.currentVideo.imdbID}}/" target="_blank">{{homeCtrl.currentVideo.imdbID}}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>IMDB Ratings</th>
                        <td>{{homeCtrl.currentVideo.imdbRating}}</td>
                    </tr>
                    <tr>
                        <th>Movieflix Ratings</th>
                        <td>{{homeCtrl.currentVideo.ratings}}</td>
                    </tr>

                </table>
            </div>

        </div>

    </div>

</div>
