.jumbotron {
    height: 400px;
    background: url("../Resources/jumbotron.jpg");
    background-size: contain;
    margin-bottom: 5px;
    animation: zoomjumbo 4s ease-out;
}

#jumbotron-contents-micro {
    display: none;
}

#jumbotron-contents {
    margin-top: 60px;
    color: white;
    font-weight: 600;
    position: static;
    background: rgba(0, 0, 0, 1);
    background-color: transparent;
    margin-top: 150px;
    margin-left: 50px;
    max-width: 350px;
    max-height: 300px;
    overflow: hidden;
    z-index: 1;
    box-shadow: inset 0px 0px 109px 41px rgba(0, 0, 0, 0.6);
}

@keyframes zoomjumbo {
    0% {
        transform: scale(0.95);
    }
}

#jumbotron-components a#latestLink {
    font-weight: 500;
    color: white;
    text-decoration: underline;
}

/*Responsive*/
@media screen and (max-width: 600px) {
    #jumbotron-contents {
        display: none;

    }

    .jumbotron {
        height: 200px;
        background: url("../Resources/jumbotron.jpg");
        background-size: contain;
        animation: zoomjumbo 4s ease-out;
        margin-bottom: 10px;
    }

    #jumbotron-contents-micro {
        text-align: center;
        display: block;
        color: white;
        font-weight: 600;
        max-width: 100%;
        overflow: hidden;
        padding: 5px;
        margin: 5px auto;
        margin-top: -10px;

    }

}
